.card-login {
  height: 100vh;
  margin: auto;
  justify-content: center;
}

.card-login-center {
  display: grid;
  place-items: center;
  height: 100vh;
}

.avatar {
  text-align: center;
}

.img-avatar {
  width: 8rem;
}

.bkg {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
  background: linear-gradient(
    90deg,
    #993399,
    #7f56bd,
    #117dce,
    #009dc8,
    #00b4af,
    #00c384,
    #00cc39 /* #00a8cc,
    #8a2be2,
    #a626a6,
    #ab212e */
  );
  background-size: 400% 800%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
